<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    <title>Proffy | Cadastro realizado com sucesso!</title>

    <link rel="shortcut icon" href="/assets/favicon.png" type="image/png">

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/page-sucess.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Poppins:wght@400;600&display=swap"
        rel="stylesheet">
</head>

<body id="page-sucess">

    <div id="container">

        <img class="logo" src="/assets/success-background.svg" alt="Proffy">

        <div class="content-container">

            <div id="logo-container">

                <div class="cadrasto-sucess">
                    <img class="logo-cadastro-realizado" src="/assets/icons/success-check-icon.svg"
                        alt="Cadastro realizado">

                    <h1>Cadastro Salvo!</h1>

                    <p>Tudo certo, seu cadastro está na nossa lista de professores. <br />
                        Agora é só ficar de olho no seu Whatsapp.</p>
                </div>

            </div>

            <div class="buttons-container">
                <a class="study" href="/study">
                    Acessar lista
                </a>
            </div>

        </div>

    </div>

</body>

</html>